*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.dex
*.class
*.jks
*.keystore
*.log
google-services.json
GoogleService-Info.plist

# Firebase
firebase-debug.log
firebase-debug.*.log
.firebase/
